sounddevice>=0.4.6
numpy>=1.24,<2.0
openai-whisper>=20231117
edge-tts>=6.1
ddgs>=9.0
scipy>=1.11
requests>=2.31
spotipy>=2.23
psutil>=5.9
flask>=3.0
pyperclip>=1.8
pyautogui>=0.9.54
openai>=1.50vosk>=0.3.45
